.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  margin-left: -20px;
}

.product-tree{
  position: fixed;
  top:64px;
  left:0;
  width:250px;
  height:50vh;
  border-right: 1px solid black;
}

.mat-tree-node {
  min-height: 15px!important;
  height: 25px!important;
}

.node{
  font-weight: 400;
  font-size: 12px;
}

mat-icon{
  transform: scale(0.5);
}

@media (min-width: 460px) and (max-width: 520px) {
  .product-box-grid{
    height: 300px;
    width: 245px;
    margin: 0 auto;
  }
}

@media (min-width: 521px) and (max-width: 770px) {
  .product-box-grid{
    height: 300px;
    width: 505px;
    margin: 0 auto;
  }
}

@media (min-width: 771px) and (max-width: 1015px) {
  .product-box-grid{
    height: 300px;
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 1016px) and (max-width: 1260px) {
  .product-box-grid{
    height: 300px;
    width: 995px;
    margin: 0 auto;
  }
}

@media (min-width: 1261px) {
  .product-box-grid{
    height: 300px;
    width: 1240px;
    margin: 0 auto;
  }
}

/*.product-box-grid{*/
/*  height: 300px;*/
/*  width: 995px;*/
/*  margin: 0 auto;*/
/*}*/

.product-box-grid .product-grid{
  float:left;
  height:300px;
  width: 230px;
  margin-left:15px;
  margin-top:15px;
  background: rgb(222, 241, 255);
  border: 2px solid rgb(63, 84, 177);
  border-radius: 4px;
}

.grid-img{
  height:130px;
  width: 220px;
  margin:3px;
  overflow:hidden;

}
.grid-img img{
  border-radius: 4px;
  object-fit:cover;
  object-position: center;
  width:220px;
  height:130px;
  border: solid 1px #CCC
}

.grid-desc{
  height: 65px;
  width: 220px;
  margin: 3px;
  overflow-y: auto;
  word-break: break-all;

}

.grid-author{
  height: 40px;
  width: 220px;
  margin: 3px;

}
.grid-author span{
  float: right;
}

.grid-amount{
  float:left;
  height: 40px;
  width: 105px;
  margin: 8px 3px 3px 3px;
}
.grid-amount input{
  height:25px;
  float:left;
  width: 70px;
  border-radius: 4px;
}

.grid-add{
  float:right;
  height: 40px;
  width: 105px;
  margin: 3px;
}
.grid-add button{
  float: right;
  position: relative;
  z-index: 1;
  height:25px;
}

.selector{
  float: right;
  margin-right: 20px;
}
.selector mat-button-toggle, .selector mat-button-toggle-group{
  background:none;
  border:none;
}

.selector mat-icon{
  transform: scale(1.5);
}

.search-box{
  display: inline;
}

.search-box input{
  color: white;
  background: transparent;
  border:1px solid gray;
  border-radius: 10px;
}
.search-box input::placeholder{
  color: white;
}

.shop-box{
  position: fixed;
  overflow-y:auto;
  top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
}

.product-box-row .product-row{
  float:left;
  height:260px;
  width: calc(100% - 250px);
  margin-left:15px;
  margin-top:15px;
  border: 2px solid rgb(63, 84, 177);
  background: rgb(222, 241, 255);
  border-radius: 4px;
}

.row-img{
  float:left;
  height:200px;
  width: 300px;
  margin:3px;
  overflow:hidden;
}
.row-img img{
  object-fit:cover;
  object-position: center;
  width:300px;
  height:200px;
  border: solid 1px #CCC
}

.row-desc{
  float:right;
  height: 200px;
  width: calc(100% - 330px);
  margin: 3px;
}

.row-author{
  height: 40px;
  width: 220px;
  margin: 15px 3px 3px 3px;

}
.row-author span{
  float: left;
}

.row-amount{
  float: right;
  height: 40px;
  width: 200px;
  margin: 8px 3px 3px 3px;
}

.row-amount span{
  float: right;
}
.row-amount input{
  height:25px;
  float:left;
  width: 70px;
  border-radius: 4px;
}

.row-add{
  float:right;
  height: 40px;
  width: 105px;
  margin: 3px;
}
.row-add button{
  float: right;
  height:25px;
}

.shop-box mat-icon{
  z-index: 1;
  transform: scale(1);
}


/*.expand-button{*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  line-height: 0;*/
/*}*/

.shop-header{
  position: fixed;
  top:50px;
  height: 50px;
  width: 100%;
  border-top: 1px solid black;
  background: rgb(63, 84, 177);
}

.dropdown-tree{
  color:white;
  position: relative;
  z-index: 23;
  display: inline-block;
  line-height: 50px;
  margin: 0 20px;
}

.dropdown-product-tree{
  display: none;
  position: absolute;

  width: 300px;
}

.dropdown-tree:hover .dropdown-product-tree{
  display: block;
}

.filter-tree{
  margin-left: 20px;
  position:absolute;
  top: 45px;
}
