.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  margin-left: -20px;
}

.product-tree{
  width:250px;
  height:100%;
  border-right: 1px solid black;
  float:left;
}

.mat-tree-node {
  min-height: 15px!important;
  height: 25px!important;
}

.node{
  font-weight: 400;
  font-size: 12px;
}

mat-icon{
  transform: scale(0.5);
}

.product-box{
  float:right;
}
