<div class="cart-box">
  <div *ngIf="user == null && undefined !== orderLines && orderLines.length">
    <p>To continue with checkout you should login or register new user</p>
  </div>
  <div *ngIf="undefined !== orderLines && orderLines.length; else elseBlock">
    <div class="cart-element" *ngFor="let orderLine of orderLines">
      <div class="cart-img">
        <a routerLink="/product/{{orderLine.product.id}}" routerLinkActive="active">
        <img src="{{orderLine.product.thumbnailUrl}}" alt="Thumbnail">
          </a>
      </div>
      <div class="cart-desc">{{orderLine.product.description}}</div>
      <div class="number-box">
        <div class="cart-order-size">Amount: <input [(ngModel)]="orderLine.quantity"></div>
        <div class="cart-item-price">Price: {{orderLine.product.price}}€</div>
        <div class="total">{{orderLine.quantity.valueOf() * orderLine.product.price.valueOf()}} €</div>
        <div class="button">
          <button (click)="deleteLine(orderLine.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="user != null; else noUser">
      <button mat-button color="primary" (click)="confirmOrder()">Confirm order</button>
    </div>
    <ng-template #noUser>
      <div>
        <button mat-button color="primary" (click)="updateOrderInfo()">Update order</button>
      </div>
    </ng-template>
  </div>
  <ng-template #elseBlock>
    <div>Nothing in the cart</div>
  </ng-template>
</div>

