.cart-box {
  width: 700px;
  padding-top: 20px;
  margin: 50px auto;
  overflow-y: auto;
  height: calc(100vh - 50px);
}

.cart-element {
  width: 610px;
  height: 112px;
  padding: 5px;
  margin-bottom: 15px;
  background: rgb(222, 241, 255);
  border: 1px solid black;
  border-radius: 4px;
}

.cart-img {
  float: left;
  padding-right: 15px;
  overflow: hidden;
  height: 100px;
  width: 150px;
}
.cart-img img{
  border-radius: 4px;
  object-fit:cover;
  object-position: center;
  width:220px;
  height:130px;
}

.cart-desc {
  float: left;
  margin-top: 25px;
  height: 50px;
  width: 300px;
}

.number-box {
  float: left;
  height: 100px;
  width: 145px;
}

.number-box .cart-order-size input {
  width: 30%;
  border: 1px solid black;
  border-radius: 2px;
}

.number-box .button {
  position: relative;
  right: -119px;
  top: 0;
  width: 25px;
  height: 25px;
  color: red;
}


