<form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput formControlName="userName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Logo url:</mat-label>
    <input matInput formControlName="logoUrl">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role:</mat-label>
    <mat-select formControlName="role">
      <mat-option>Contact method</mat-option>
      <mat-option *ngFor="let role of enumRoles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contact method:</mat-label>
    <mat-select formControlName="contactMethod">
      <mat-option>Contact method</mat-option>
      <mat-option *ngFor="let contactMethod of enumContactMethods" [value]="contactMethod">
        {{contactMethod}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" [disabled]="!userEditForm.valid" mat-button color="primary">Submit</button>
</form>
