<mat-toolbar color="accent">

  <span>
    <a routerLink="/products" routerLinkActive="active">Home</a>

    <a routerLink="/order" routerLinkActive="active">Orders</a>
    <a routerLink="/user/10" routerLinkActive="active">User settings</a>
    <a routerLink="/log-out" routerLinkActive="active">Log out</a>
    <a routerLink="/cart" routerLinkActive="active">Cart</a>
    <a routerLink="/user" routerLinkActive="active">Users</a>
    <a routerLink="/author" routerLinkActive="active">Authors</a>
    <a routerLink="/product-tree" routerLinkActive="active">Product tree</a>

  </span>
<!--    <div style="height: 100px; width: 100px; background: red; float: right;"><app-weather-widget></app-weather-widget></div>-->
</mat-toolbar>
<router-outlet></router-outlet>
