<mat-toolbar color="accent">
  <div style="width: 100%">
      <span>
        <a routerLink="/products" routerLinkActive="active">Home</a>
        <a routerLink="/order" routerLinkActive="active">Orders</a>
        <a routerLink="/user-settings/10/0" routerLinkActive="active">User settings</a>
        <a routerLink="/log-out" routerLinkActive="active">Log out</a>
        <a routerLink="/cart" routerLinkActive="active">Cart</a>
        <a routerLink="/admin/0" routerLinkActive="active">Admin</a>
      </span>
    <div class="weather-container">
      <app-weather-widget></app-weather-widget>
    </div>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
