.navbar {
  justify-content: space-between;
}

a {
  padding-right: 1rem;
}

.weather-container{
  position:absolute;
  right: 30px;
  top: calc(100vh - 64px);
  height: 64px;
  width: 200px;
  float: right;
}

mat-toolbar{
  position: fixed;
  top:0;
  z-index: 6;
}
