<mat-toolbar color="primary">
  <div class="row-content" style="width: 100%">
      <span>
        <a><button (click)="loadShop()"><mat-icon>store</mat-icon></button></a>
      </span>
  </div>

  <div *ngIf="user == null" class="row-content-reg-log">
    <a routerLink="/login" routerLinkActive="active"><button>Login</button></a>
    <a routerLink="/register" routerLinkActive="active"><button>Register</button></a>
  </div>
  <a routerLink="/cart" routerLinkActive="active" class="row-content">
    <mat-icon>shopping_cart</mat-icon>
    <div *ngIf="productCountInCart > 0">
    <div class="prod-count">
      <div class="prod-count-text">{{productCountInCart}}</div>
    </div>
    </div>
  </a>
  <div *ngIf="user != null" class="row-content">
    <ul>
      <li class="dropdown">
        <a class="dropBtn"><mat-icon>account_circle</mat-icon></a>
        <div class="dropdown-content">
          <button style="width: 100%">
            <a routerLink="/user-settings/0" routerLinkActive="active">User settings</a>
          </button><br>
          <button style="width: 100%">
            <a routerLink="/orders" routerLinkActive="active">Order history</a>
          </button><br>
          <div *ngIf="userRole == 'ADMIN'">
          <button style="width: 100%" >
            <a routerLink="/admin/0" routerLinkActive="active">Admin Tools</a>
          </button><br>
          </div>
          <button style="width: 100%" (click)="logout()"><a>Log out</a></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="weather-container" *ngIf="user != null">
    <app-weather-widget></app-weather-widget>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
