<form [formGroup]="addressEditForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput formControlName="city">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Street:</mat-label>
    <input matInput formControlName="street">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zip code:</mat-label>
    <input matInput formControlName="zipCode">
  </mat-form-field>

  <button type="submit" [disabled]="!addressEditForm.valid" mat-button color="primary">Submit</button>

</form>
