<div class="container">
  <div>
    <div *ngFor="let address of user.addresses; let i = index">
      <div *ngIf="address.active">
        <div class="address-box">
          <span *ngIf="address.defaultAddress; else notDefault" class="box-title-default">
            Delivery address #{{i + 1}} <----- Default delivery address
          </span>
          <ng-template #notDefault>
            <span class="box-title">Delivery address #{{i + 1}}</span>
          </ng-template>
          <div class="address-text">{{address.country}}, {{address.city}}, {{address.street}}, {{address.zipCode}}</div>
          <div class="buttons">
            <div *ngIf="!address.defaultAddress">
              <button *ngIf="address.active; else elseButton" (click)="deactivateAddress(address.id)" mat-button
                      color="primary">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
            <ng-template #elseButton>
            </ng-template>
            <div>
              <a routerLink="/user-address-edit/{{address.id}}" routerLinkActive="active">
                <button mat-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
              </a>
            </div>
            <div *ngIf="!address.defaultAddress || address.active">
              <button (click)="setDefault(address.id)" mat-button color="primary">
                <mat-icon>check_circle_outline</mat-icon>
                Set Default
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new-address-box">
    <h3>Add new address</h3>
    <form [formGroup]="newAddressForm" (ngSubmit)="onAddressSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Country:</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>City:</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Street:</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Zip code:</mat-label>
        <input matInput formControlName="zipCode">
      </mat-form-field>
      <br>
      <button type="submit" [disabled]="!newAddressForm.valid" mat-button color="primary">Submit</button>
    </form>
  </div>
</div>


