.img-box img{
  max-height: 120px;
}

.img-box .img-div{
  margin:0 auto;
  height: 100px;
  width: 170px;
  overflow: hidden;
}

.img-box{
  padding:5px;
}

td .num-field{
  width: 70px;
  margin-right: 5px;
}

.width{
  width: 70%;
}
